body{
    font-family: 'Electrolize', sans-serif;
    font-family: 'Palanquin', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 20px;
    color: rgb(59, 57, 57);
}
h2{
    font-size: 30px;
}
p{
     font-size: 20px;
}
.header{
    width: 100%;
    display: flex;
    margin-left: 20px;
}
.orange-color{
    color:orange;
}
.left-contain{
   width: 40%; 
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 160px;
}
.right-contain{
    width: 40%; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px; 
}
.left-contain img{
    height: 600px;
}
.text-color{
    color: rgb(94, 89, 83);
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    border: 1px solid ;
    border-radius: 40px;
    padding:10px 30px;
    font-weight: 700;
    color: blanchedalmond;
    line-height: 120px;
}
.about-me{
    width: 100%;
    display: flex;
    margin-left: 20px;
    background-image: url(img/shapes/7.png);
}
.right-contain img{
    height: 600px;
    padding: 30px 50px;
}
.my-recipe  {
    text-align: center;
    margin-top: 50px;
}
.recipe-title{
    width:25%;
    margin-left: 40px;
    padding: 20px 25px;
    border-radius: 25px;
    box-shadow: 13px 6px 32px rgb(200 219 206);
    margin-bottom: 50px;
}
.recipe-title img{
    width: 360px;
}
.title-wrep{
    display: flex;
    margin-left: 50px;
    text-align: justify;
}
.social-contact{
    display: flex;
   box-shadow: 2px 4px 31px rgb(208 215 236);
     width: 1320px;
     margin-left: 92px;
     margin-bottom: 50px;
     border-radius: 25px;
     margin-top: 50px;
}
.social{
    width:25%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 33px 96px;
}
.footer{
    text-align: center;
    background-color: rgb(18, 19, 41);
    height: 300px;
    margin-bottom: 100px;
}
.color-white{
    color: white;
}


